
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<label for="monto"> Monto</label>
<br />
<input type="number" step="0.1" name="monto" requered>
<br />
<input type="submit" class="btn-danger" />
